{% extends 'base.html.twig' %}

{% block title %}Détail d'un employe{% endblock %}

{% block body %}
    <h1>Détail d'un employe</h1>
    
   
    <h2>{{ employe }}</h2>
    <div>
        <p>Entreprise : <a href="{{ path('show_entreprise', {'id':employe.entreprise.id })}}">{{ employe.entreprise }} </a></p>
        <p>Ville : {% if employe.ville %} {{ employe.ville}} {% else %} Non renseignée {% endif %}</p>
        <p>Date de naissance : {{employe.dateNaissance | date("d.m.Y") }} </p>
        <p>Age : {{employe.age }} ans</p>
        <p>Date d'embauche : {{employe.dateEmbauche | date("d.m.Y") }} </p>
    </div>



{% endblock %}
